<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('ia/app.js') }}"></script>
    {% endblock %}
</head>
<body>
<div>
    <div class="container">
        <nav class="ia-navbar">
            <a class="ia-navbar--brand" href="{{ path('project_index') }}">Instant Admin</a>
        </nav>
        <div class="row">
            <div class="col-2">
                {% include '@DGInstantAdmin/parts/side.html.twig' %}
            </div>
            <div class="col-10">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>

</body>
</html>
