<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/dginstantadmin/assets/css/bootstrap.min.css') }}">
        {% endblock %}
    </head>
    <body class="bg-light">
    <nav class="navbar navbar-light bg-dark text-white">
        Admin
        <a class="navbar-brand" href="#">
            <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
        </a>
    </nav>
    <div class="container-fluid mt-5">
            <div class="row">
                <aside class="col-2 offset-1 bg-light">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </aside>
                <div class="col-8  shadow bg-info">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="{{asset('bundles/dginstantadmin/assets/js/jquery-3.3.1.slim.min.js')}}"></script>
            <script src="{{asset('bundles/dginstantadmin/assets/js/popper.min.js')}}"></script>
            <script src="{{asset('bundles/dginstantadmin/assets/js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
