<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
</head>
<body class="bg-light">
<nav class="navbar navbar-light bg-dark text-white">
{#    <i class="fab fa-acquisitions-incorporated"></i>#}
    <p>Admin</p>
    <a class="navbar-brand" href="#">
    </a>
</nav>
<div class="container-fluid">
    <div class="row min-vh-100">
        <aside class="col-1 bg-dark">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </aside>
        <div class="col-11  shadow bg-info">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('ia/app.js') }}"></script>
{% endblock %}
</body>
</html>
